[submodule "discord-rpc"]
	path = discord-rpc
	url = https://github.com/discord/discord-rpc
[submodule "Simpleini"]
	path = Simpleini
	url = https://github.com/PureFoxCore/Simpleini
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "imgui"]
	path = imgui
	url = https://github.com/PureFoxCore/imgui
